<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RedisCacheHostName" value="hostName" />
    <add key="RedisCachePassword" value="password" />
    <add key="RedisConnectRetry" value="5" />
    <add key="RedisConnectTimeoutInMilliseconds" value="15000" />
    <add key="enableSsl" value="true" />
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
</configuration>