@{
    ViewData["Title"] = "Checkout page";
}

<div>
    <h2>
        Items all checked out. Thanks for shopping with us!
    </h2>
</div>

<div>
    <h4>
        Time taken to check out: @ViewData["cartDeleteTime"] milli-seconds
    </h4>
</div>